.logoContainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
  
  .logoBox {
    background-color: white;
    border-radius: 80%;
}

.logo{
    margin: 2rem;
}